<div class="flex-box1 padding-nav">
    <div>
      <%= link_to 'Home', root_path, class: "nav-link" %>
    </div>
    <div>
      <ul class="flex-box2">
        <li class="nav-item active">
          <%= link_to "About", "/about", class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Contact", "/contact", class: "nav-link" %>
        </li>
      </ul>
    </div>
</div>
<div class="mobile-nav padding-nav">
    <div>
      <%= link_to 'Home', root_path, class: "nav-link" %>
    </div>
    <div>
      <%= link_to "About", "/about", class: "nav-link" %>
    </div>
    <div>
      <%= link_to "Contact", "/contact", class: "nav-link" %>
    </div>
</div>

<div class="nav-services padding-nav d-flex">
    <div>
      <%= link_to 'Carpet Cleaning', root_path, class: "nav-link" %>
    </div>
    <div>
      <%= link_to "Rug Cleaning", "/about", class: "nav-link" %>
    </div>
    <div>
      <%= link_to "Curtain & Blind", "/contact", class: "nav-link" %>
    </div>
    <div>
      <%= link_to 'Stain Removal', root_path, class: "nav-link" %>
    </div>
    <div>
      <%= link_to "Karden Maintenance", "/about", class: "nav-link" %>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Services
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>





  <!--  banner-->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnsof9xnr/image/upload/v1557901242/images_3.jpg);">
  <div class="container">
    <h1>CB <strong>Carpet</strong> Cleaning <strong>Services.</strong></h1>
    <p>*Fully DBS checked with 12 years experience</p>
    <!-- <a class="btn btn-flat" href="#">See more</a> -->
  </div>
</div>
<br>
<br>

  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 test">
    <h1><a href="www.google.com">test</a></h1>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 stain">

    </div>
  </div>

   <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 rug">

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 curtain">

    </div>
  </div>

   <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 karndean">

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wood">

    </div>
  </div>



</div>











<!-- <div class="cards">
  <div class="card">
  </div>
   <div class="card">
  </div>
   <div class="card">
  </div>
   <div class="card">
  </div>
  <div class="card">
  </div>
  <div class="card">
  </div>
</div>
 -->
