<!-- Black main navigationon on desktop  -->

<div class="desktop-nav">
  <div>
     <li class="nav-item active">
       <%= link_to 'Home', root_path, class: "nav-link" %>
    </li>
  </div>
     <li class="nav-item active">
        <%= link_to "About", "/about", class: "nav-link" %>
     </li>

     <li class="nav-item">
        <%= link_to "Contact", "/messages", class: "nav-link" %>
     </li>
     <li class="nav-item">
        <%= link_to "All completed jobs", services_path, class: "nav-link" %>
     </li>
     <!--   <li class="nav-item">
       <%= link_to "Login", new_user_session_path, class: "nav-link" %>
     </li>
       <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li> -->
   </ul>
</div>


