<div class="flex-box1 padding-nav">
    <div>
      <%= link_to 'Home', root_path, class: "nav-link" %>
    </div>
    <div>
      <ul class="flex-box2">
        <li class="nav-item active">
          <%= link_to "About", "/about", class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Contact", "/contact", class: "nav-link" %>
        </li>
      </ul>
    </div>
</div>
<div class="mobile-nav padding-nav">
    <div>
      <%= link_to 'Home', root_path, class: "nav-link" %>
    </div>
    <div>
      <%= link_to "About", "/about", class: "nav-link" %>
    </div>
    <div>
      <%= link_to "Contact", "/contact", class: "nav-link" %>
    </div>
</div>

<div class="nav-services padding-nav flex-box3">
    <div>
      <%= link_to  'Carpet Cleaning', services_path(category: 'carpet cleaning') %>
    </div>
    <div>
      <%= link_to "Rug Cleaning.", services_path(category: 'rug cleaning') %>
    </div>
    <div>
      <%= link_to "Curtain & Blind.", services_path(category: 'curtain and blind') %>
    </div>
    <div>
      <%= link_to 'Stain Removal.', services_path(category: 'stain removal') %>
    </div>
    <div>
      <%= link_to "Karden Maintenance.", services_path(category: 'karndean maintenance') %>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Services
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonn">
      <%= link_to  'Carpet Cleaning', services_path(category: 'carpet cleaning') %>
      <%= link_to "Rug Cleaning.", services_path(category: 'rug cleaning') %>
      <%= link_to "Curtain & Blind.", services_path(category: 'curtain and blind') %>
      <%= link_to 'Stain Removal.', services_path(category: 'stain removal') %>
      <%= link_to "Karden Maintenance.", services_path(category: 'karndean maintenance') %>
    </div>
</div>
